.card-category-container{
    border: 1px solid #A7A7A7;
    margin-bottom: 20px;
}
   .catg-imgs{
       width: 100%;
       height: 200px;
   }
   .card.text-center.category{
       width: 100%;
   }
   .rate-imgs{
       height: 20px;
       width: 20px;
   }
   .catg-fav{
       display: flex;
   }
   .catg-body-txt{
    display: flex;
    justify-content: space-between;
    color: #FF5D22;
    margin: 10px 10px 0px 10px;
    min-height: 25px;
    line-height: 1.5em;
    overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
   }
   .location-catg{
    color:#A7A7A7;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -16px;
   }
 .yourwallet {
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1.25rem;
    padding: 10px;
    border-radius: 8px;
}
.yourwallet h5 {
    color: rgb(137, 26, 28);
}
.yourwallet  .wallet-address {
    color: rgb(0, 0, 0);
    opacity: inherit;
    font-weight: 600;
    overflow-wrap: break-word;
    font-size: 21px !important;
    border-bottom: 5px solid rgb(137, 26, 28);
    outline: none;
    text-align: left;
}
.avatar{
    height: 120px;
    width: 120px;
}