.listing-fav{
    margin-top: 32px;
    margin-left: 10px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}

.listing-rent-now{
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.listing-booked-dates{
    margin-left: 14px;
    border: none;
    background-color: #189114;
    color: #ffffff;
    width: 175px;
    height: 30px;
    border-radius: 4px;
}

.listing-rent-small{
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 120px !important;
    height: 30px !important;
    border-radius: 4px;
}

.prd-flex{
    display: flex;
    width: 100%;
}
.alert-product {
    font-size: 14px;
    padding: 6px;
    margin-top: .9rem;
}
.alert-msg-product {
    margin-top: -8px;
    line-height: 1.4;
}