.listing-fav{
    margin-top: 32px;
    margin-left: 10px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}

.listing-rent-now{
    margin-left: 10px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.listing-booked-dates{
    margin-left: 55px;
    border: none;
    background-color: #189114;
    color: #ffffff;
    width: 175px;
    height: 30px;
    border-radius: 4px;
}

.listing-rent-small{
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}