.dropdown-category ul{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
   }
   .dropdown-category{
       display: flex;
       border: 1px solid #ffffff;
       background: #fff;
       z-index: 1;
       position: absolute;
       padding: 20px;
       margin-top: 85px;
       right: 22%;
   }
   .allcategory-section{
       margin-right: 35px;
       display: flex;
   }
   .main-category{
       font-weight: bold;
       color: #000000 !important;
   }
   .subcateg-linHt{
       margin-bottom: 6px;
   }
