.rental-hero-bgd{
 background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/Images/rentalBgd.jpg');
 background-repeat: no-repeat;
 width:100%;
 height: 100vh;
 background-size: cover;
}
.wrapper-container{
    width: 95%;
    margin: 0 auto;
}

.hero-txt-style{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 20%;
}
.search-btn-container{
    margin-left: 20px;
}

.buy-main-container{
    padding-top: 15%;
}

.search-field{
border-radius: 5px;
width: 340px;
height: 50px;
padding-left: 10px;
}
.main-rent-search{
    display: flex;
    justify-content: center;
}
.location-dropdown{
    align-items: center;
    display: flex;
    justify-content: center;
}

.country-style{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    color:#A7A7A7;
    font-weight: 600;
}
.region-style{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    color:#A7A7A7;
    font-weight: 600;
}
.search-rent-btn{
    border-radius: 5px;
    color: #ffffff;
    width: 190px;
    height: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: #FF5D22;
}
.recommn-bgd{
    background-color:#FF5D22;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff ;
}
.recommn-txt-style{
 font-size: 25px;
 font-weight: 100;
}
.Image{
    width:50px;
    height: 50px;
}
.desc-text{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 45px;
}
.rent-main-container{
    width: 108%;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-bottom: 33%;
}
.better-txt-style{
    color:#FF5D22;
    margin-bottom: 20px;
}
.sub-better-txt{
    color: #A7A7A7;
}
.better-container{
    border:1px solid #0000001a;
    border-radius: 20px;
    padding: 10px;
    .Img-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .box-Img-style{
        width: 100px;
        height: 100px;
        border: 1px solid  #FF5D22;
        border-radius: 50px;
        padding: 10px;
        background-color: #FF5D22;
         }
         .box-Img2-style{
            width: 100px;
            height: 100px;
            border: 1px solid  #FF5D22;
            border-radius: 50px;
            padding: 10px;
            background-color: #FF5D22;
         }
         .box-Img3-style{
            width: 100px;
            height: 100px;
            border: 1px solid  #FF5D22;
            border-radius: 50px;
            padding: 10px;
            background-color: #FF5D22;
         }
         
  .box-utility{
    .utility-title{
        text-align: center;
    }
    .util-content{
        text-align: center;
        font-size: 14px;
        color: #6c757d;
    }
  }
}
.homeCateg-bgd{
    background-color: #d0e2f48c;
}

.footer-bgd{
 background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../assets/Images/pebble.jpg');
 background-repeat: no-repeat;
 width:100%;
 height: 50vh;
 background-size: cover;
}
.desc-bgd-color{
    background-color: #ffffff;
}

@media (max-width: 768px){
    .main-rent-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .search-field{
      width: 230px;
      height: 44px;
    }
    .hero-txt-style{
        font-size: 16px !important;
        margin: 0px !important;
    }
    .country-style{
        width: 124px !important;
        height: 44px !important;
    }
    .rental-hero-bgd{
        height: 65vh;
    }
    .search-rent-btn{
        width: 100px;
        height: 44px;
    }
    .recommn-txt-style {
        font-size: 21px;
    }
    .better-container .box-utility .util-content{
        font-size: 12px;
    }
    .better-container{
        width: 75%;
        margin-bottom: 20px;
    }
    .homeCateg-bgd{
        background-color: #ffffff;
    }
}