
.chat-img{
    width:20px;
    height:20px;
    margin-right: 20px;
}

.notif-img{
    width:20px;
    height:20px;
    margin-right: 20px;
}

.profile-img{
    width:20px;
    height:20px;
    margin-right: 20px;
}
.contact-section{
    display: flex;
    margin-right: 20px;
}
.contact-icons{
    margin-right: 30px;
}
.rentDaap-Img{
    width: 50px;
    transition: .5s;
}
.drp-txt-profile{
    color: #000000;
}
.drp-txt-profile:hover{
    color:  #a7a7a7;
    text-decoration: none !important;
}

.profile-dropdown{
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    right: 15%;
    top: 80px;
    z-index: 1;
}


nav{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100px;
 padding: 10px 100px;
 box-sizing: border-box;
 transition: .5s;
}
nav .rentDaap-header-logo{
    float: left;
}

nav ul{
   margin: 0;
   padding: 0;
   float: right;
   display: flex;
}


 nav ul li{
     list-style: none;
 }

 nav ul li a{
     color: #ffffff;
     line-height: 80px;
     padding: 5px 10px;
     text-decoration: none;
     text-transform: uppercase;
     transition: .5s;
 }
 .catgry-text{
     color: #ffffff;
     cursor: pointer;
 }

 .catgry-texttwo{
    color: #ffffff;
    cursor: pointer;
    margin-right: 150px;
 }

 .catgry-text.black{
     color: #000000;
     cursor: pointer;
 }

 nav.black{
     background-color: #ffffff;
     color: #000000;
     z-index: 1;
 }
 
 nav.black ul li a{
     color: #000000;
 }
.collapse.navbar-collapse{
  margin-left: 45% !important;
}
 @media (max-width: 768px) {
    nav{
        padding: 10px 32px;
    }
    .navbar-toggler{
        margin-left: 56%;
    }
    .header-listItem{
    background: #000000;
    z-index: 9;
    position: relative;
    left: -70px;
    display: block;
    }
 }