.slider-item-main{
    padding-top: 60px;
    padding-bottom: 70px;
}

.car-slider-img{
    width: 100px;
    height: 158px;
    margin-top: 20px;
}
.react-multi-carousel-item.react-multi-carousel-item--active{
    margin-right: -110px;
}
.card.text-center{
    width: 60%;
}
.card-title{
    font-size: 18px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   
}
.card-body.text-dark{
    text-align: justify;
    font-size: 15px;
}
.btn.btn-outline{
    color:#FF5D22;
    border: 1px solid #FF5D22;
}
.img-responsive{
    width: '100%';
    height: 150px;
}
@media (max-width: 768px) {
    .react-multi-carousel-list{
        overflow: visible;
    }
    .card.text-center{
        width: 50%;
    }
    .react-multi-carousel-item.react-multi-carousel-item--active{
        margin-right: 10px;
        width: 587px !important;
    }
    .car-slider-img{
       width: 204px;
    }
}