.subctg-txt{
    color:#A7A7A7;
    text-decoration: none;
    list-style: none;
}

.subctg-txt:hover{
    columns: #880000;
    text-decoration: none;
}

.sideBar-container{
    margin-left: 40%;
    width: 70%;
}

.subctg-list{
    list-style: none;
    text-decoration: none;
}