
.subscribe-container{
 float: right;
}

.rentDaap-help ul li{
    color: #ffffff;
    list-style: none;
    font-size: 18px;
}
.rentDaap-help ul li:hover{
    color: #FF5D22;
    cursor: pointer;
}
.footer-link{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.footer-link:hover{
    color: #FF5D22;
    cursor: pointer;
}
.Footer-container{
 padding-top: 3%;
}

.subscribe-rent-btn{
    border-radius: 8px;
    font-weight: 500;
    width: 235px;
    text-decoration: none;
    height: 45px;
    border: none;
    text-align: center;
    background-color: #FF5D22;
    color: #fff;
}
.subscribe-field{
    padding-left: 10px;
    width: 235px;
    height: 45px;
    border-radius: 8px;
}
.subscribe-btn-container{
    margin-top: 20px;
}
.subscribe-detail{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
}
.other-footer-txt{
    color: #ffffff;
}
@media (max-width: 768px) {
    .rentDaap-Img{
      margin-left: 0px !important;
      width: 28px !important;
    }
    .footer-bgd{
        height: 63vh !important;
    }
    .rentDaap-help ul li{
        font-size: 12px !important;
    }
    .subscribe-container{
        float: none;
    }
    .subscribe-detail{
        font-size: 14px !important;
    }
    .subscribe-field{
        width: 190px !important;
        height: 39px !important;
    }
    .subscribe-rent-btn{
        width: 190px !important;
        height: 39px !important;
    }
}