.listing-get-discounts{
    margin-left: 10px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 120px;
    height: 30px;
    border-radius: 4px;
}

.listing-add-discount{
    margin-left: 20px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}

.listing-remove-discount{
    margin-left: 20px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}

.select-discount{
    margin-left: 10px;
    //border: none;
    //background-color: #189114;
    //color: #ffffff;
    width: 120px;
    height: 30px;
    border-radius: 4px;
}

.listing-delete{
    margin-left: 20px;
    border: none;
    background-color: #FF5D22;
    color: #ffffff;
    width: 140px;
    height: 30px;
    border-radius: 4px;
}