body {
  background-color: #ffffff;
}

.header-listItem a:hover {
  color: #ff5d22 !important;
}
.header-con {
  color: #ff5d22;
}


.social-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top:20px;
}

.social-menu li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 6px;
}

.social-menu li a i {
 width: 31px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.social-menu li a:hover i {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4)
}