.category-select-txt{
    color: #FF5D22;
}

.table-catg-details{
    background-color: #ffffff;
    width:50%;
  
}
.form-footer-style{
  margin-top: 50%;
}

.submit-form-btn{
    border: none;
    background-color: #FF5D22;
    color: ;
}